{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            {% if request.user.profile_user.image %}
            <img src=" {{ request.user.profile_user.image.url }}" alt="{{ request.user.full_name }}">
            {% else %}
            <img src=" {% static 'images/avatar.jpg' %}" alt="{{ request.user.full_name }}">
            {% endif %}
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">{{ request.user.full_name }}</span>
            <span class="text-secondary text-small">
              {{ request.user.profile_user.designation | default:"--" }}
            </span>
          </div>
          <i class="mdi mdi-check-decagram text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <span class="menu-title">Usage</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
          <span class="menu-title">Revenue</span>
          <i class="mdi mdi-cash-multiple menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'customer:list' %}">
          <span class="menu-title">Customers</span>
          <i class="mdi mdi-account-multiple menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'prospect:overview' %}">
          <span class="menu-title">Prospects</span>
          <i class="mdi mdi-bullseye menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact:list' %}">
          <span class="menu-title">Contacts</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user:list' %}">
          <span class="menu-title">Users</span>
          <i class="mdi mdi-worker menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>