{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block top_nav %}
{% include '_includes/top_nav.html' %}
{% endblock %}

{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <form class="w-auto">
      <div class="input-group">
          <input type="text" class="form-control" style="width:500px; height: 45px; font-weight: bold; border-radius: 50px; background-color:white;" placeholder=" Search">
      </div>
  </form>
    <a href="{% url 'contact:create' %}" class="btn btn-primary">
      <i class="fa-solid fa-plus me-2"></i>
      New contact
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="color:#9CA195">NAME & DESIGNATION</th>
        <th scope="col" style="color:#9CA195">ORGANIZATION</th>
        <th scope="col" style="color:#9CA195">ADDRESS</th>
        <th scope="col" style="color:#9CA195">CONTACT</th>
        <th scope="col" style="color:#9CA195">ACTIONS</th>
      </tr>
    </thead>
    <tbody>

      {% for contact in contacts %}
      <tr>
        <td >
          <span class="material-symbols-outlined" style="font-size:32px;">assignment_ind</span>
          <span style="color:#1F0782">
          {{ contact.name }}
          </span>
          <br>
          <span class="text-muted1" style="margin-left:30px;"><span class="material-symbols-outlined">
              trip
            </span>
            <span style="color:#1F0782">
            {{ contact.designation }}
            </span>
          </span>
        </td>
        <td style="color:#1F0782">{{ contact.organization }}</td>
        <td style="color:#1F0782">{{ contact.address }}</td>
        <td style="color:#1F0782">{{ contact.email_id }}
          <br>
          <span class="text-muted1">
            (+91) {{ contact.mobile_number }}
          </span>
        </td>
        <td>
          <button type="button" class="btn btn-link p-0"  data-bs-toggle="tooltip" data-bs-placement="top"
            title="Edit contact">
            <span class="material-symbols-outlined" style="font-size:24px;">
              edit_square
            </span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include '_includes/pagination.html' %}

</div>
{% endblock %}