{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block app_stylesheets %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'prospect:list' %}">Prospect List</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Let's get started with the onboarding process</h4>
        <p class="card-description text-center">Follow the 3-step process to onboard the client</p>
        
        <div class="stepper-wrapper">
          <div class="stepper-item completed">
            <div class="step-counter"><i class="mdi mdi-file-document"></i></div>
            <div class="step-name">Customer Info</div>
          </div>
          <div class="stepper-item completed">
            <div class="step-counter"><i class="mdi mdi-cash" ></i></div>
            <div class="step-name">Select Plan</div>
          </div>
          <div class="stepper-item active">
            <div class="step-counter"><i class="mdi mdi-account-multiple-plus"></i></div>
            <div class="step-name">Add Users</div>
          </div>
        </div>

        <form class="forms-sample border-top py-5" method="POST">
          {% csrf_token %}

          <div class="text-center">Assign access to the initial designated users</div>
          {{  customer_user_form.customer}} <!-- This is hidden field. Do not style this-->
          

          {{ customer_user_form.full_name.label }}
          {{ customer_user_form.full_name }}

          {{ customer_user_form.designation.label }}
          {{ customer_user_form.designation }}

          {{ customer_user_form.mobile_no.label }}
          {{ customer_user_form.mobile_no }}

          {{ customer_user_form.email.label }}
          {{ customer_user_form.email }}

          <hr>
          <h6>Permissions (Full Access)</h6>
          <div class="row border-bottom">
            {{ user_app_permissions_formset.management_form }}  <!-- This is hidden field. Do not style this-->
            
            {% for user_app_permissions_form in user_app_permissions_formset %}
            
            <div class="col-12 col-md-4">
                <span class="text-capitalize">{{ user_app_permissions_form.module.value }}</span>
            </div>

            <div class="visually-hidden">  <!-- This are hidden fields. Do not style these-->
              {{ user_app_permissions_form.has_access }}
              {{ user_app_permissions_form.module }}
              {{ user_app_permissions_form.access_role }}
            </div>
            {% endfor %}
          </div>
          <br>
          <a href="{% url 'customer:select-plan' customer_id %}" class="btn btn-light me-3">Go Back</a>
          <button type="submit" class="btn btn-gradient-primary me-3" name="action" value="add_more_user">Add Next User</button>
          <button type="submit" class="btn btn-gradient-primary" name="action" value="done">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}