

{% block content %}
    <h1>User information</h1>
    <div class="form-container">
      <form class=""  method="post">
        {{customer_userpermission_form.as_p}}
        {% if subscription_plan %}
        {% for module in plan_type.modules %}
      <div class="form-check">
        {% comment %} <input class="form-check-input" type="radio" value="{{ module }}" id="{{ module }}-module" {% if module in selected_modules %}checked{% endif %}> {% endcomment %}
        <label class="form-check-label" for="{{ module }}-module">
          {{ module }}
        </label>
      </div>
    {% endfor %}
    {% endif %}
    {% endblock %}