{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}


{% block top_nav %}
{% include '_includes/top_nav.html' %}
{% endblock %}

{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="form-container">
    <form class="" id="customerForm" action="{% url 'customer:create' %}" method="POST" data-url="{% url 'customer:ajax-load-states' %}">
        {% csrf_token %}
        {{ customer_info_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Continue">
        <a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn btn-secondary cancel-btn">Cancel</a>
    </form>
</div>
{% endblock %}
