<div class="modal-header">
    <h3 class="modal-title" id="customerInfoLabel">Customer Information</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {{ customer_profile.prospect.name }}

    <hr>
    <div class="mb-3">
    {{ customer_profile.legal_name }}
    <div>
    <div class="mb-3">
    {{ customer_profile.display_name }}
    <div>
</div>
<div class="modal-footer">
    <a href="{% url 'customer:edit-info' customer_profile.uuid %}" class="action-link">Edit Info</a>
</div>