<div class="row">
    <div class="col">
      <div class="form-group" hidden>
        <label for="{{ prospect_profile_form.name.id_for_label }}">Name *</label>
        {{ prospect_profile_form.name }}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.email.id_for_label }}">Email ID</label>
        {{ prospect_profile_form.email }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.website.id_for_label }}">Website</label>
        {{ prospect_profile_form.website }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.denomination.id_for_label }}">Denomination</label>
        {{ prospect_profile_form.denomination }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ contact_form.congregation.id_for_label }}">Congregation Size (Approx)</label>
        {{ prospect_profile_form.congregation }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.address.id_for_label }}">Address *</label>
        {{ prospect_profile_form.address }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.city.id_for_label }}">City *</label>
        {{ prospect_profile_form.city }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.country.id_for_label }}">Country *</label>
        {{ prospect_profile_form.country }}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{ prospect_profile_form.state.id_for_label }}">State *</label>
        {{ prospect_profile_form.state }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="form-group">
        <label for="{{ prospect_profile_form.remarks.id_for_label }}">Remarks</label>
        {{ prospect_profile_form.remarks }}
      </div>
    </div>
  </div>
  