{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'customer:list' %}">Customers Overview</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}

<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <form method="POST" data-url="{% url 'misc:ajax-load-states' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <h4 class="card-title">SaaS Information</h4>
          <p class="card-description">Update details related to SaaS subscription </p>

          {% include 'customer/profile_form.html' %}

          <hr>
          <h4 class="card-title">Customer Information</h4>
          <p class="card-description">Update other details </p>

          {% include 'customer/customer_prospect_form.html' %}

          <div class="d-flex justify-content-between align-items-center">
            <div>
              <button type="submit" class="btn btn-gradient-primary me-2">Continue</button>
              <a href="{% url 'customer:list' %}" type="button" class="btn btn-outline-primary">Cancel</a>
            </div>
            <div>
              <a class="text-danger" id="deleteButton" data-bs-toggle="modal"
                data-bs-target="#deleteModal">Delete Customer</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="deleteModalLabel">Delete Customer</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete this customer?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
              <form method="POST" action="{% url 'customer:delete' customer_profile_form.instance.uuid %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete Customer</button>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}