{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'customer:list' %}">Customers Overview</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}

<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        
        <form method="POST"
        data-url="{% url 'misc:ajax-load-states' %}"  enctype="multipart/form-data">
          {% csrf_token %}
          <h4 class="card-title">SaaS Information</h4>
          <p class="card-description">Update details related to SaaS subscription </p>

          {% include 'customer/profile_form.html' %}

          <hr>
          <h4 class="card-title">Customer Information</h4>
          <p class="card-description">Update other details </p>

          {% include 'customer/customer_prospect_form.html' %}
          
          <button type="submit" class="btn btn-gradient-primary me-2">Continue</button>
          <a href="{% url 'customer:list' %}" type="button" class="btn btn-light">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}