{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block top_nav %}
{% include '_includes/top_nav.html' %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <form class="" method="POST">
    {% csrf_token %}

    {{ customer_user_form.full_name.label }}
    {{ customer_user_form.full_name }}

    {{ customer_user_form.designation.label }}
    {{ customer_user_form.designation }}

    {{ customer_user_form.mobile_no.label }}
    {{ customer_user_form.mobile_no }}

    {{ customer_user_form.email.label }}
    {{ customer_user_form.email }}


    <h6>Permissions</h6>
    <div class="row border-bottom">
      {{ user_app_permissions_formset.management_form }}

      {% for user_app_permissions_form in user_app_permissions_formset %}
      <div class="col-6">
        <div class="row">
          <div class="col-md-2 m-3">
            <div class="d-flex">
              <div class="form-check form-switch mx-2 col-form-label" data-module="{{user_app_permissions_form.module.value}}">
                {{ user_app_permissions_form.has_access }}
              </div>
              <div class="me-2 text-uppercase col-form-label">
                {{ user_app_permissions_form.module.value }}
                {{ user_app_permissions_form.module }}
              </div>
            </div>
          </div>
          <div class="col-md-3 m-3 {% if not user_app_permissions_form.access_role.value %}d-none{% endif %}"
            id="roleFor{{user_app_permissions_form.module.value}}">
            {{ user_app_permissions_form.access_role }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    <input type="hidden" id="next" name="next" value="">
    <input type="submit" class="btn btn-primary" value="Go Back" />
    <input type="submit" class="btn btn-primary" name="add_next_user" value="ADD NEXT USER" />
    <input type="submit" class="btn btn-primary" name="done" value="Done" />
    <script>
      $('input[name="add_next_user"]').click(function() {
        $('input[name="next"]').val('customer:user-add');
        console.log("Value of 'next':", $('#next').val());
      });
      
      $('input[name="done"]').click(function() {
        $('input[name="next"]').val('customer:list');
      });
    </script>
  </form>
</div>

{% endblock %}