<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>User information</h1>
    <div class="container">
      <form class=""  method="POST">
        {% csrf_token %}
        
        {{ customer_user_form.full_name.label }}
       {{ customer_user_form.full_name }}
        


        {{ customer_user_form.designation.label }}
        {{ customer_user_form.designation }}

        {{ customer_user_form.mobile_no.label }}
        {{ customer_user_form.mobile_no }}

        {{ customer_user_form.email.label }}
        {{ customer_user_form.email }}
      
        
        {% if subscription_plan %}
        {{ subscription_plan.plan_type }}
        
        {% for module in plan_type.modules %}
    {{module}}
        
    {% endfor %}
    {% endif %}
    <br>
        <input type="submit" class="btn btn-primary" value="Go Back" />
        <input type="submit" class="btn btn-primary" value="ADD NEXT USER" />
        <input type="submit" class="btn btn-primary" value="Done" />
      </form>
    </div>

  </body>
</html>
