{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
<span class="page-title-icon bg-gradient-primary text-white me-2">
  <i class="mdi mdi-contacts"></i>
</span>
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8 col-lg-6">
            <form method="GET">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="search"
                  value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-sm btn-light">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="col-4 col-lg-6">
            <a href="{% url 'customer:onboard' %}" class="btn btn-gradient-primary float-end">
              <i class="mdi mdi-plus me-2"></i>
              New Customer
            </a>
          </div>
        </div>
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th class="table-photo">LOGO</th>
              <th>CUSTOMER NAME</th>
              <th>PLAN</th>
              <th>ONBOARDED ON</th>
              <th>STATUS</th>
              <th>DUE DATE</th>
              <th>CSM</th>
              <th class="text-center">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td>
                <div>
                  {% if customer.profile_picture %}
                  <img src="{{ customer.profile_picture.url }}" alt="Profile Picture" width="50">
                  {% else %}
                  <img src="{% static 'images/avatar.jpg' %}" alt="Default Profile Picture" width="50">
                  {% endif %}
                </div>
              </td>
              <td>{{ customer.legal_name }}</td>
              <td>
                <div class="text-faded">
                  {{ customer.customer_plan.subscription_plan.name }}
                </div>
                <div class="mt-1">
                  <span class="fs-6">
                    ₹{{ customer.customer_plan.subscription_plan.amount }}
                  </span>
                  <small>
                  {% if customer.customer_plan.duration == '12' %}
                  /year
                  {% else %}
                  /month
                  {% endif %}
                  </small>
                </div>
              </td>
              <td>{{ customer.created_at| date:'d/m/Y' }}</td>
              <td>

                {% if customer.payment_status == 'due' %}
                <div class="text-info text-uppercase text-small fw-bold">
                    due in {{ customer.days_difference }} days
                </div>
                {% elif customer.payment_status == 'overdue' %}
                <div class="text-danger text-uppercase text-small fw-bold">
                    overdue by {{ customer.days_difference }} days
                </div>
                {% elif customer.payment_status == 'paid' %}
                <div class="text-success text-uppercase text-small fw-bold">
                  {{ customer.payment_status }}
                </div>
                {% else %}
                <div class="text-danger text-uppercase text-small fw-bold">
                  Pending
                </div>
                {% endif %}
              </td>
              <td>{{ customer.due_date| date:'d/m/Y' }}</td>
              <td></td>
              <td class="actions-col">
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'customer:edit-info' customer.uuid %}">
                      <i class="mdi mdi-pencil-box-outline me-2"></i>
                      Edit Customer Info
                    </a>
                    <a class="dropdown-item" href="{% url 'customer:update_poc' customer.uuid %}">
                      <i class="mdi mdi mdi-contacts me-2"></i>
                      Update Contact Persons
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-account-multiple me-2"></i>
                      View Users
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-account-convert me-2"></i>
                      Re-assign CSM
                    </a>
                    <a class="dropdown-item border-top" href="#">
                      <i class="mdi mdi-cash me-2"></i>
                      Change Plan
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-receipt me-2"></i>
                      Record Payment
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include '_partials/_pagination.html' %}
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <form class="w-auto" method="GET" action="{% url 'customer:list' %}">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search" value="{{ request.GET.search}}">
        <button type="submit" class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Search">
          <span class="input-group-text" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
      </div>
    </form>
    <a href="{% url 'customer:onboard' %}" class="btn btn-primary">
      <i class="fa-solid fa-plus me-2"></i>
      New customer
    </a>
  </div>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>Plan Details</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
        <td>
          {% if customer.profile_picture %}
          <img src="{{ customer.profile_picture.url }}" alt="Profile Picture" width="50">
          {% else %}
          <img src="{% static 'default/image.png' %}" alt="Default Profile Picture" width="50">
          {% endif %}
        </td>
        <td>{{ customer.legal_name }}<br>{{ customer.display_name }}</td>

        <td>
          {{ customer.address }}<br>{{ customer.city }}<br>{{ customer.state }}<br>{{ customer.country }}<br>{{ customer.zip_code }}
        </td>
        <td>
          {% for plan in customer.plans.all %}
          {{ plan.subscription_plan }} ({{ plan.duration_in_months }})
          {% endfor %}
        </td>
        <td>
          <button type="button" class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Edit contact">

            <a href="{% url 'customer:customer_edit' customer.uuid %}">
              <span class="material-symbols-outlined" style="font-size:24px;">
                edit_square
              </span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include '_partials/_pagination.html' %} {% endcomment %}

  {% endblock %}