{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'prospect:list' %}">Prospect List</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Let's get started with the onboarding process</h4>
        <p class="card-description text-center">Follow the 3-step process to onboard the client</p>

        <div class="stepper-wrapper">
          <div class="stepper-item completed">
            <div class="step-counter"><i class="mdi mdi-file-document"></i></div>
            <div class="step-name">Customer Info</div>
          </div>
          <div class="stepper-item completed">
            <div class="step-counter"><i class="mdi mdi-cash"></i></div>
            <div class="step-name">Select Plan</div>
          </div>
          <div class="stepper-item active">
            <div class="step-counter"><i class="mdi mdi-account-multiple-plus"></i></div>
            <div class="step-name">Add Collaborators</div>
          </div>
        </div>
        <form class="row border-top py-4 px-5" method="POST">
          <div class="col-md-8">
            {% csrf_token %}

            <div class="text-faded py-4">Assign access to the initial designated users</div>
            {{ customer_user_form.customer}}

            <div class="">
              <div class="form-group">
                <label for="{{ customer_user_form.official_name.id_for_label }}">Fullname *</label>
                {{ customer_user_form.full_name }}
              </div>
            </div>

            <div class="form-group">
              <label for="{{ customer_user_form.designation.id_for_label }}">Designation *</label>
              {{ customer_user_form.designation }}
            </div>

            <div class="form-group">
              <label for="{{ customer_user_form.mobile_no.id_for_label }}">Mobile No *</label>
              {{ customer_user_form.mobile_no }}
            </div>

            <div class="form-group">
              <label for="{{ customer_user_form.email.id_for_label }}">Email *</label>
              {{ customer_user_form.email }}
            </div>

          </div>
          <div class="col-md-4">
            <h2 class="py-4">Added Users</h2>
            <ol>
              {% for user in users %}
              <li>{{ user.full_name }} {{ user.designation }}</li>
              {% endfor %}
            </ol>
          </div>
          <hr>
          <div class="text-faded py-3">Permissions {% if not is_next_user %}(Full Access){% endif %}</div>
          <div class="row">
            {{ user_app_permissions_formset.management_form }}
            {% if not is_next_user %}
            {% include 'customer/_partials/_admin_permissions_form.html' %}
            {% else %}
            {% include 'customer/_partials/_next_user_permissions_form.html' %}
            {% endif %}
          </div>

          {% if not is_next_user %}
          <div class="text-center mt-5">
            <a href="{% url 'customer:onboard-select-plan' customer_id %}" class="btn btn-light me-3">Go Back</a>
            <button type="submit" class="btn btn-gradient-primary me-3" name="action" value="add_more_user">Add Next
              User</button>
            <button type="submit" class="btn btn-gradient-primary" name="action" value="done">Done</button>
          </div>
          {% else %}
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-gradient-primary me-3" name="action" value="add_more_user">
              Add Next User
            </button>
            <button type="submit" class="btn btn-gradient-primary" name="action" value="done">Done</button>
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}