{% extends "base.html" %}

{% load static %}
{% load plan_format %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'customer/js/app.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Customers Overview</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
{% include "customer/_partials/_collect_payment_modal.html" %}
<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Let's get started with the onboarding process</h4>
        <p class="card-description text-center">Follow the 3-step process to onboard the customer</p>

        <div class="stepper-wrapper">
          <div class="stepper-item completed">
            <div class="step-counter"><i class="mdi mdi-file-document"></i></div>
            <div class="step-name">Customer Info</div>
          </div>
          <div class="stepper-item active">
            <div class="step-counter"><i class="mdi mdi-cash"></i></div>
            <div class="step-name">Select Plan</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter"><i class="mdi mdi-account-multiple-plus"></i></div>
            <div class="step-name">Add Collaborators</div>
          </div>
        </div>

        <form class="forms-sample border-top py-4" action="{% url 'customer:onboard-select-plan' customer_id %}" method="POST"
          enctype="multipart/form-data" data-url="{% url 'plan:get-plan-amount' %}"
          plan-url="{% url 'customer:get-plan-options' %}">
          {% csrf_token %}
          <input type="hidden" value="{{plan_options_form.payment_mode.value}}" name="payment_mode">
          <input type="hidden" value="{{plan_options_form.payment_status.value}}" name="payment_status">
          <div class="toggle-group">
            <div class="toggle-container text-uppercase fw-bold pt-5 py-3">
              <small class="me-3">Monthly</small>
              {{ plan_options_form.is_yearly }}
              <label for="{{ plan_options_form.is_yearly.id_for_label }}">Is Yearly</label>
              <small class="ms-3">Yearly</small>
            </div>
            <img src="{% static 'images/arrow.png' %}" />
            <div class="discount-desc pt-2">
              <label class="badge badge-success"><small>Save 15%</small></label>
              <p>12 Months of value, Pay for only 10</p>
            </div>
          </div>

          <div class="d-flex">
            <div class="container">
              <div id="planOptions" class="grid-wrapper grid-col-auto">
                {% include 'customer/_partials/_plan_options_form.html' %}
              </div>
            </div>
          </div>
          <div id="paymentInfo" class="d-none row my-3">
          <hr>
            <div class="col-md-6">
              <div class="form-group">
                <label>Discount</label>
                <div class="d-flex justify-content-between">
                  <div class="flex-fill">
                    {{ plan_options_form.discount}}
                  </div>
                  <div>
                    <button type="button" class="btn btn-outline-dark ms-2" id="applyDiscount">Apply</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-md-1 col-md-5">
              <div class="text-secondary mb-3">Payment Summary</div>
              <div class="amount-group d-flex justify-content-between">
                <label></label>
                <div>
                  <s id="selectedPlanAmount"> ₹0.00</s>
                </div>
              </div>
              <div class="amount-group d-flex justify-content-between">
                <label class="badge badge-success text-white"><small>15% Discount</small></label>
                <div id="subtotalAmount">
                  ₹0.00
                </div>
                
                
              </div>
              <div class="amount-group d-flex justify-content-between">
                <label>Discount</label>
                <div id="discountAmount">
                  - ₹0.00
                </div>
              </div>
              <hr>
              <div class="amount-group d-flex justify-content-between mb-3">
                <label class="total">Total</label>
                <div id="totalAmount" class="fw-bold">
                  <small>INR</small> ₹0.00
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check form-switch">
                  <input class="form-check-input ms-0 me-2" type="checkbox" role="switch" id="paymentStatus">
                  <label class="form-check-label ms-4" for="paymentStatus">Payment due later</label>
                </div>
              </div>
            </div>
            <div class="text-end">
              <a href="{% url 'customer:onboard-customer' customer_id %}" class="btn btn-outline-primary me-3">Go Back</a>
              <button type="submit" class="btn btn-gradient-primary" name="action" value="continue" id="btnSubmit">
                Collect Payment
              </button>
              <!-- Trigger modal instead if payment status in paid -->
              <button type="button" class="btn btn-gradient-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="btnModal">
                Collect Payment
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}