{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Customers Overview</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Let's get started with the onboarding process</h4>
          <p class="card-description text-center">Follow the 3-step process to onboard the client</p>
          
          <form class="forms-sample border-top py-5" action="{% url 'customer:onboard' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="card-title text-center">Customer Info</h4>
            {% include 'customer/legal_info_form.html' %}
            <button type="submit" class="btn btn-gradient-primary me-2">CONTINUE</button>
            <a href="{% url 'customer:list' %}" type="button" class="btn btn-light">Cancel</a>
          </form>
          
        </div>
      </div>
    </div>
</div>
{% endblock %}