{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Customers Overview</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Let's get started with the onboarding process</h4>
        <p class="card-description text-center">Follow the 3-step process to onboard the client</p>
        <form class="forms-sample border-top py-5" action="{% url 'customer:select-plan' customer_id %}" method="POST"
          enctype="multipart/form-data" data-url="{% url 'plan:get-plan-amount' %}">
          {% csrf_token %}

          <div class="text-center">Select Plan</div>

          {{ plan_options_form.duration.label_tag }}
          {{ plan_options_form.duration }}

          <div class="d-flex">
            <div class="container">
              <div class="grid-wrapper grid-col-auto">
              {% for plan in plan_options_form.plan %}
                <label for="{{ plan.id_for_label }}" class="radio-card">
                  {{ plan.tag }}
                  <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                      <img src="{% static 'images/small-church.svg' %}"/>
                      <h5 class="pt-2">{{ plan.choice_label }}</h5>
                      <h4>₹2999/month</h4>
                    </div>
                  </div>
                </label>
                <!-- /.radio-card -->
                {% endfor %}
              </div>
              <!-- /.grid-wrapper -->
            </div>
            <!-- /.container -->
            
            
          </div>

          <hr>
          <div class="fw-bold">Payable Amount</div>
          <div id="payableAmount" class="fs-5 fw-bold">
            Rs. 0.00
          </div>

          {{ plan_options_form.payment_status.label_tag }}
          <div class="row">
            {% for payment_status in plan_options_form.payment_status %}
            <div class="col-6">
              <div class="py-1">
                {{ payment_status.tag }}
                <label class="form-check-label ms-2" for="{{ payment_status.id_for_label }}">
                  {{ payment_status.choice_label }}
                </label>
              </div>
            </div>
            {% endfor %}
          </div>
          <a href="{% url 'customer:onboard'%}" class="btn btn-light me-3">Go Back</a>
          <button type="submit" class="btn btn-gradient-primary me-3" name="action" value="continue">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}