{% extends "base.html" %}

{% load static %}
{% load cash_format %}

{% block head_title %}{{ title }}{% endblock %}


{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'customer:list' %}">Customers</a></li>
    <li class="breadcrumb-item"><a href="{% url 'customer:users' customer_id %}">Collaborator List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Collaborator</li>
  </ol>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
{% endblock %}
