{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}
{% block content %}
<style>
    .spacing{
        padding:2rem;
    }
</style>
      <!--Title and breadcrumbs area-->
    <div class="row">
    <div class="col order-md-first">
        <h2>Email Addresses</h2>
        <p class="text-subtitle text-muted mb-4">
            The following email addresses are associated with your account:
        </p>
    </div>
    <div class="col order-md-last">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Email</li>
                </ol>
            </nav>
    </div>
    </div>
    <!--Email Area-->
    <div class="card spacing">
   {% if emailaddresses %}
            {% url 'account_email' as email_url %}
            {% element form form=form action=email_url method="post" %}
                {% slot body %}
                    {% csrf_token %}
                    {% for radio in emailaddress_radios %}
                        {% with emailaddress=radio.emailaddress %}
                        {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                {% slot label %}
                                    {{ emailaddress.email }}
                                    {% if emailaddress.verified %}
                                        {% element badge tags="success,email,verified" %}
                                            {% translate "Verified" %}
                                        {% endelement %}
                                    {% else %}
                                        {% element badge tags="warning,email,unverified" %}
                                            {% translate "Unverified" %}
                                        {% endelement %}
                                    {% endif %}
                                    {% if emailaddress.primary %}
                                        {% element badge tags="email,primary" %}
                                            {% translate "Primary" %}
                                        {% endelement %}
                                    {% endif %}
                                {% endslot %}
                            {% endelement %}
                        {% endwith %}
                    {% endfor %}
                {% endslot %}


            {% slot actions %}
                  <button name="action_primary" type="submit" class="btn btn-primary me-1 mb-5">
                        Make Primary
                    </button>
                    <button name="action_send" type="submit"  class="btn btn-secondary me-1 mb-5">
                        Re-send Verification
                    </button>
                    <button name="action_remove" type="submit"  class="btn btn-light-tertiary me-1 mb-5">
                        Remove
                    </button>
            {% endslot %}
        {% endelement %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        <h3 class="mb-4">Add Email Address</h3>
        
        {% url 'account_email' as action_url %}
        {% element form form=form method="post" action=action_url %}
            Hoi bef bod
            {% slot body %}
                {% csrf_token %}
                <div class="form-group position-relative mb-3">
                    <label for="id_email" style="display: block;">Email:</label>
                    <input class="form-control" type="email" name="email" placeholder="Email address" aria-invalid="true" autocomplete="email" maxlength="320" required="" id="id_email">
                </div>
            {% endslot %}
            befac
            {% slot actions %}
                 <button name="action_add" type="submit"  class="btn btn-primary me-1 mb-1">
                Add Email
                </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}
{% block extra_body %}
    <script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected email address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
    </script>
{% endblock extra_body %}
