{% extends "base.html" %}

{% load static %}
{% load cash_format %}

{% block head_title %}{{ title }}{% endblock %}


{% block page_title %}
<span class="page-title-icon bg-gradient-primary text-white me-2">
  <i class="mdi mdi-contacts"></i>
</span>
{{ title }}
{% endblock %}

{% block scripts %}
<script src="{% static 'customer/js/app.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8 col-lg-6">
            <form method="GET">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="search"
                  value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-sm btn-light">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th class="table-photo">LOGO</th>
              <th>CUSTOMER NAME</th>
              <th>PLAN</th>
              <th class="text-center">ONBOARDED ON</th>
              <th class="text-center">PAYMENT STATUS</th>
              <th class="text-center">DUE DATE</th>
              <th>CSM</th>
              <th class="text-center">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td>
                <div>
                  {% if customer.profile_picture %}
                  <img src="{{ customer.profile_picture.url }}" alt="Profile Picture" width="50">
                  {% else %}
                  <img src="{% static 'images/avatar.jpg' %}" alt="Default Profile Picture" width="50">
                  {% endif %}
                </div>
              </td>
              <td>
                <a class="action-link view-action" data-url="{% url 'customer:get-customer-info' customer.uuid %}"
                  data-bs-toggle="modal" data-bs-target="#viewModal">
                  {{ customer.prospect.name }}
                </a>
              </td>
              <td>
                {% if customer.official_name %}
                {% if customer.customer_plan.subscription_plan.name %}
                <div class="text-faded">
                  {{ customer.customer_plan.subscription_plan.name }}
                </div>
                <div class="mt-2">
                  <span class="fs-6">₹{{ customer.amount |inr }}</span><small
                    class="text-faded">{% if customer.customer_plan.duration == 12 %}/year{% else %}/month{% endif %}</small>
                </div>
                {% else %}
                <a href="{% url 'customer:onboard-select-plan' customer.uuid %}" class="btn btn-sm btn-gradient-danger">Select
                  Plan</a>
                {% endif%}
                {% endif%}
              </td>
              <td class="text-center">
                {% if customer.official_name %}
                <span class="text-faded">{{ customer.customer_plan.created_at| date:'d/m/Y' }}</span>
                {% else %}
                <a href="{% url 'customer:onboard-customer' customer.uuid %}" class="btn btn-sm btn-gradient-primary">Onboard
                  Now</a>
                {% endif%}
              </td>
              <td class="text-center">
                {% if customer.customer_plan %}
                {% if customer.payment_status == 'due' %}
                <div class="badge payment-due">
                  Due in {{ customer.days_difference }} days
                </div>
                {% elif customer.payment_status == 'overdue' %}
                <div class="badge payment-pending">
                  Overdue by {{ customer.days_difference }} days
                </div>
                {% else %}
                <div class="badge payment-{{ customer.payment_status }} text-capitalize">{{ customer.payment_status }}</div>
                {% endif %}
                {% endif %}
              </td>
              <td class="text-center">
                {% if customer.customer_plan %}
                <span class="text-faded">
                  {{ customer.due_date| date:'d/m/Y' }}
                </span>
                {% endif %}
              </td>
              <td><span class="text-faded">{{ customer.manager.full_name }}</span></td>
              <td class="actions-col">
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'customer:update-info' customer.uuid %}">
                      <i class="mdi mdi-pencil-box-outline me-2"></i>
                      Edit Customer Info
                    </a>
                    <a class="dropdown-item" href="{% url 'customer:users' customer.uuid %}">
                      <i class="mdi mdi-account-multiple me-2"></i>
                      View Collaborators
                    </a>
                    <a class="dropdown-item border-top view-action" data-bs-toggle="modal" data-bs-target="#viewModal"
                      data-url="{% url 'customer:get-poc' customer.uuid %}">
                      <i class="mdi mdi mdi-contacts me-2"></i>
                      View Contact Persons
                    </a>
                    <a class="dropdown-item customer-action" data-bs-toggle="modal" data-bs-target="#updateModal"
                      data-url="{% url "customer:update-csm-ajax" customer.uuid %}">
                      <i class="mdi mdi-account-convert me-2"></i>
                      Re-assign CSM
                    </a>
                    <a class="dropdown-item border-top" href="{% url 'customer:plan-update' customer.uuid %}">
                      <i class="mdi mdi-cash me-2"></i>
                      Change Plan
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-receipt me-2"></i>
                      Record Payment
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include '_partials/_pagination.html' %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}