.main table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
}

.main .calendar-weekdays th {
    padding: 8px;
    font-weight: bold;
    border: 1px solid #e7e7e7;
    text-align: center;
    border-left: none;
    border-right: none;
}
.main .bordered th:first-child {
    border-radius: 15px 0 0 0;
}

.main .bordered th:last-child {
    border-radius: 0 15px 0 0;
}

.main .bordered tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
}

.main .bordered tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
}
.calendar-table a.calendar-link:hover {
    color: white;
}
.main .row-weekdays th {
    border: 1px solid #e7e7e7;
    border-bottom: none;
    border-left: none;
    width: 5em;
}
.main .row-weekdays td {
    height: 7em;
    border: 1px solid #e7e7e7;
    border-bottom: none;
    border-left: none;
    width: 6em;
}
.row-weekdays .calendar-day {
    border-radius: 50%;
    margin-top: 0.5rem;
    padding: 0.4rem 0.65rem;
}
.row-weekdays .current-day .calendar-day {
    background-color: #9a55ff;
    color: white;
}
.main .day-container{
    height: 100%;
    text-align: center;
    padding: 1rem 0;
}

.main {
    display: flex;
    background-color: #f7f8fb;
    border-radius: 15px;
    font-family: sans-serif;
}


.main .calendar-table {
    width: 100%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}
.main .calendar-events {
    color: rgb(255, 255, 255);
    height: 2em;
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem 0 1.5rem 0;
}
.main .calendar-events > div {
    padding: 0.2rem 0.2rem;
}

.main .calendar-events > div.calendar-status-meeting {
    background: linear-gradient(to right, #da8cff, #9a55ff);
}


.main .upcoming-events {
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #ffffff;
    width: 100%;
}

.main .event-highlight {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
}

.main .event-date {
    --size: 4rem;
    width: 4rem;
    height: var(--size);
    display: block;
    align-content: baseline;
    color: #343a40;
    text-align: center;
    background-color: #f2edf3;
    border-radius: 10px;
    padding: 0.75rem;
}

.main .event-highlight.calendar-status-meeting:hover .event-date,
.main .event-highlight[aria-describedby] .event-date{
    background: #9a55ff;
    color: #ffffff;
}
.main .event-highlight[aria-describedby] .event-date {
    /* background: linear-gradient(to right, #da8cff, #9a55ff); */
    color: #ffffff;
    transform: 0.3s ease-in-out;
}
.main .event-highlight:hover, .main .event-highlight[aria-describedby] {
    color: #ffffff;
    background: linear-gradient(to right, #da8cff, #9a55ff);
    transform: 0.3s ease-in-out;
}

.main .event-details {
    width: 75%;
}

.main .event-details-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .event-highlight:hover .event-details-info, .main .event-highlight:hover .event-details-header,
.main .event-highlight[aria-describedby] .event-details-info, .main .event-highlight[aria-describedby] .event-details-header{
    color: #ffffff;
    transform: 0.3s ease-in-out;
}

.main .event-highlight:active {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1.3px 3.3px, rgba(0, 0, 0, 0.24) 0px 1.3px 2.3px;
}
.main .event-highlight:active .arrow {
    right: 5px;
}
.main .event-highlight[aria-describedby] .arrow {
    right: 5px;
}

.main .event-date .event-weekday {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: -0.25rem;
    text-transform: capitalize;
}

.main .event-date .event-day {
    font-size: 1.25rem; 
    margin-top: -0.5rem;
    font-weight: 700;
}

.main .events {
    position: absolute;
    height: 2rem;
    width: 18rem;
    margin: 4px;
    border-radius: 5px;
}

.main .event-details-header {
    color: #343a40;
    font-weight: 600;
    text-align: left;
    margin: 0.2em 0 0 1em;
}

.main .event-details-info {
    text-align: left;
    margin: 0 0 0em 1.3em;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #989eb1;
}
.event-details {
    position: relative;
    width: 100%;
}

.event-details .arrow {
    position: absolute;
    right: 10px;
    color: #343a40;
}

.main .trailing-month {
    color: #c0c7df;
}


.popover {
    max-width: 250px;
    min-width: 250px;
    
}
.popover-header {
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: #ffffff;
}
.popover-body .row.align-items-baseline{
    padding: 0;
}
.popover-body .icon-container {
    width: 40px;
    font-weight: 600;
}
.popover-body .icon-container i {
    font-size: 1.1rem;
}
.popover-body .details-container {
    width: auto;
    padding: 0 0 0 10px;
}