{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}


{% block top_nav %}
Customer Overview / Start Onboarding
<h2>{{ title }}</h2>
{% endblock %}

{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div>
    <form class="" id="customerForm" action="{% url 'customer:create' %}" method="POST" data-url="{% url 'customer:ajax_load_states' %}">
        {% csrf_token %}
        {{ customer_info_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Crontinue">
    </form>
</div>
{% endblock %}
