<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Select a payment method to proceed</p>
                <!-- set-payment-mode used in js -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input set-payment-mode" name="porxy-payment-mode" value="cash" id="planOption1" value="" checked> Cash <i class="input-helper"></i>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input set-payment-mode" name="porxy-payment-mode" value="online" id="planOption2" value=""> Online <i class="input-helper"></i>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input set-payment-mode" name="porxy-payment-mode" value="bank_transfer"  id="planOption3" value=""> Bank Transfer <i class="input-helper"></i>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="proxySubmit">Mark as paid</button>
            </div>
        </div>
    </div>
</div>