.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border: 3px solid #D3D3D3;
    width: 100%;
    top: 21px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D3D3D3;
    border: 1px solid;
    margin-bottom: 6px;
    color: white;
  }
  
  .stepper-item .step-counter i {
    z-index: 10;
    font-size: 20px;
  }
  
  .stepper-item.active  .step-counter::before,
  .stepper-item.completed .step-counter::before  {
    content: "";
    position: absolute;
    width: calc(100% - 4px); 
    height: calc(100% - 4px); 
    border-radius: 50%;
    border: 2px solid #ffffff; 
  }
  .stepper-item.active .step-counter {
    color: #ffffff;
    background-color: #9e58ff;
  }
  
  .stepper-item.completed .step-counter {
    color: #ffffff;
    background-color: #3fd08f;
  }
  
  .step-name {
    font-size: 0.85rem;
  }

  .stepper-item.completed .step-name {
    color: #d789ff;
  }

  .stepper-item.active .step-name {
    font-weight: bold;
    color: #9e58ff;
  }
  
  
  .stepper-item.completed .step-counter {
    color: #ffffff;
    background-color: #d789ff;
  }
  
  
  .stepper-item.completed::after {
    
    position: absolute;
    content: "";
    border: 3px solid; 
    border-image: linear-gradient(to right, #d789ff, #9e58ff); 
    border-image-slice: 1; 
    width: 100%;
    top: 21px;
    left: 50%;
    z-index: 3;
  }
  .stepper-item.completed + .stepper-item.completed::before {
    position: absolute;
    content: "";
    border: 3px solid; 
    border-image: linear-gradient(to right, #d789ff, #d789ff); 
    border-image-slice: 1; 
    width: 100%; 
    top: 21px;
    left: 50%;
    transform: translateX(-100%);
    z-index: 3;
  }
  
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

  .step-name {
    color: #8f9091;
  }

  /* Collaborators container */

  .card-collaborators {
    width: 100%;
    border: 1px solid #e6e6e6;
  }
  .card-collaborators .card-body {
    padding: 1rem;
  }

  .card-collaborators .actions-select i {
    color:#8f9091;
    font-size: 1.2rem;
  }

  .card-collaborators .actions-select:hover i {
    color: #343a40;
  }
  
  .card-collaborators .collaborators-details span {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  .card-collaborators .accordion .accordion-item {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-collaborators .accordion .accordion-body {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
  }

  .card-collaborators .accordion .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .card-collaborators .accordion .accordion-button:not(.collapsed) {
    color: black; 
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .card-collaborators .accordion-item:first-of-type .accordion-button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .card-collaborators .accordion-button:focus {
      border-color:transparent;
  }