{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'user:list' %}">User Directory</a></li>
  <li class="breadcrumb-item active" aria-current="page">Edit User</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit User</h4>
        <p class="card-description">Update User details </p>

        <form class="forms-sample" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'user/_partials/_user_form.html' %}
          <button type="submit" class="btn btn-gradient-primary me-3">Save User</button>
          <a href="{% url 'user:list' %}" type="button" class="btn btn-outline-primary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}