
table th {
    font-size: 0.65rem !important;
    color: #76838f !important;
}


.name-group .description, .contact-group .contact-details {
    font-size:  0.75rem;
    padding-top: 0.5rem;
    line-height: 1.25rem;
}


.name-group .description, .name-group .description i, .contact-group .contact-details {
    color: #8f9091;
}

.contact-group i {
    color: #8f9091;
    margin-right: 0.5rem;
}

.address, .address p {
    line-height: 1.25rem;
    margin: 0;
}

.table-photo {
    width: 5rem;
    overflow: hidden;
}

.form-container {
    width: 70%;
    margin: auto;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 0.75rem 1.5rem !important;
}

table .remarks-col {
    width: 4rem;
    text-align: center;
}

table .actions-col, table .status-col {
    text-align: center;
}

table .sl-col {
    width: 2rem;
    text-align: center;
    font-size: 1.25rem;
    color: #8f9091;
}


.status-initiated {
    border: 1px solid #ce82ff;
    background: #ce82ff;
    color: #ffffff;
}

.status-meeting {
    border: 1px solid #1bcfb4;
    background: #1bcfb4;
    color: #ffffff;
}

.status-awaiting {
    border: 1px solid #198ae3;
    background: #198ae3;
    color: #ffffff;
}

.status-rejected {
    border: 1px solid #fe7c96;
    background: #fe7c96;
    color: #ffffff;
}
