body, html {
    font-size: 14px !important;
}

a {
    text-decoration: none;
    cursor: pointer;;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
}

table th {
    font-size: 0.75rem !important;
    color: #838c95 !important;
}



.contact-group .contact-details {
    padding-top: 0.5rem;
    line-height: 1.5rem;
}

.name-group .description, .contact-group .contact-details-sm {
    padding-top: 0.5rem;
    font-size:  0.75rem;
    line-height: 1.25rem;
}


.name-group .description, .name-group .description i, .contact-group .contact-details, .contact-group .contact-details-sm {
    color: #8f9091;
}

.contact-group i {
    color: #8f9091;
    margin-right: 0.5rem;
}

.address, .address p {
    line-height: 1.25rem;
    margin: 0;
    color: #8f9091;
    font-size:  0.75rem;
}

.table-photo {
    width: 5rem;
    overflow: hidden;
}

.form-container {
    width: 70%;
    margin: auto;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 0.75rem 1.5rem !important;
    font-size: 0.85rem;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: #b66dff;
}

table .remarks-col {
    width: 4rem;
    text-align: center;
}

table .actions-col, table .status-col {
    text-align: center;
}

table .actions-col {
    width: 3rem;
}

table .status-col {
    width: 10rem;
}


table .sl-col {
    width: 2rem;
    text-align: center;
    font-size: 1.25rem;
    color: #8f9091;
}


.status-initiated {
    border: 1px solid #ce82ff;
    background: #ce82ff;
    color: #ffffff;
}

.status-meeting {
    border: 1px solid #1bcfb4;
    background: #1bcfb4;
    color: #ffffff;
}

.status-awaiting {
    border: 1px solid #198ae3;
    background: #198ae3;
    color: #ffffff;
}

.status-rejected {
    border: 1px solid #fe7c96;
    background: #fe7c96;
    color: #ffffff;
}


.pagination-sm .page-link, .pagination-sm-desc  {
    font-size: 0.75rem;
}

textarea.form-control {
    line-height: 1.25rem !important;
}

table .org-col, table .name-col {
    width: 20rem;
}

table .address-col {
    width: 15rem;
}

.text-faded {
    color: #8f9091;
}