{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %} {% include '_partials/_navbar.html' %} {% endblock %}

{% block sidebar %} {% include '_partials/_sidebar.html' %} {% endblock %}

{% block page_title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'prospect:list' %}">Prospect List</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="POST" enctype="multipart/form-data" data-url="{% url 'misc:ajax-load-states' %}">
                    {% csrf_token %}
                    <h4 class="card-title">Prospect Information</h4>
                    <p class="card-description">Enter prospect details</p>
                    {% include 'prospect/prospect_form.html' %}
                    <hr>
                    <h4 class="card-title">Point of Contact</h4>
                    {% comment %} <p class="card-description">Contact Person 1</p> {% endcomment %}
                    {{ poc_formset.management_form }}
                    {% for form in poc_formset %}
                    <div class="form-group">
                      <p class="card-description">Contact Person {{ forloop.parentloop.counter }}{{ form.cleaned_data.name }}</p>
                        <label for="{{ form.name.id_for_label }}">Name *</label>
                        {{ form.name }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.mobile.id_for_label }}">Mobile Number</label>
                                {{ form.mobile }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">Email ID</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.remarks.id_for_label }}">Remarks</label>
                        {{ form.remarks }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary me-3">Save Prospect</button>
                    <a href="{% url 'prospect:list' %}" type="button" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
