{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'prospect:list' %}">Prospect List</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}


{% block scripts %}
<script src="{% static 'prospect/js/app.js' %}"></script>
{% endblock %}


{% block content %}
<div class="form-container">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" data-url="{% url 'misc:ajax-load-states' %}">
                    {% csrf_token %}
                    <h4 class="card-title">Prospect Information</h4>
                    <p class="card-description">Enter prospect details</p>
                    {% include 'prospect/_partials/_prospect_form.html' %}
                    <hr>
                    <h4 class="card-title">Point of Contacts</h4>
                    {{ poc_formset.management_form }}
                    {% for form in poc_formset %}
                        {% include 'prospect/_partials/_poc_form.html' with index=forloop.counter %}
                    {% endfor %}
                    <button type="submit" class="btn btn-gradient-primary me-3">Add Prospect</button>
                    <a href="{% url 'prospect:list' %}" type="button" class="btn btn-outline-primary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
