{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
<span class="page-title-icon bg-gradient-primary text-white me-2">
  <i class="mdi mdi-bullseye"></i>
</span>
{{ title }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8 col-lg-6">
            <form method="GET">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="search"
                  value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-sm btn-light">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="col-4 col-lg-6">
            <a href="{% url 'prospect:create' %}" class="btn btn-gradient-primary float-end">
              <i class="mdi mdi-plus me-2"></i>
              New Prospect
            </a>
          </div>
        </div>
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th class="sl-col">#</th>
              <th class="name-col">NAME</th>
              <th>CONTACT PERSONS</th>
              <th class="status-col">STATUS</th>
              <th>CRM</th>
              <th class="remarks-col">REMARKS</th>
              <th class="actions-col">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for prospect in prospects %}
            <tr>
              <td class="sl-col">{{ forloop.counter0 | add:page_obj.start_index }}</td>
              <td>
                <div class="name-group">
                  {{ prospect.name }}
                  <div class="description">
                    {{ prospect.address }}, {{ prospect.city }}, <br>{{ prospect.state }} {{ prospect.country }}
                  </div>
                </div>
              </td>
              <td>
                {% for contact in prospect.prospect_poc.all %}
                <div class="contact-group">
                  {{ contact.name }}{% if contact.remarks %}
                  <a data-bs-toggle="tooltip" data-bs-placement="top" href="" title="{{ contact.remarks }}">
                    <i class="mdi mdi-information-outline"></i>
                  </a>
                  {% endif %}
                  <div class="contact-details-sm">
                    <div>
                      <i class="mdi mdi-email-outline"></i>
                      {{ contact.email | default_if_none:"--" }}
                    </div>
                    <div>
                      <i class="mdi mdi-cellphone-android"></i>
                      {{ contact.mobile | default_if_none:"--" }}
                    </div>
                  </div>
                </div>
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% endfor %}
              </td>
              <td class="status-col">
                {% if prospect.status %}
                <label class="badge status-{{ prospect.status }} text-capitalize">{{ prospect.status }}</label>
                {% else %}
                --
                {% endif %}
              </td>
              <td></td>
              <td class="remarks-col">
                {% if prospect.remarks %}
                <a data-bs-toggle="tooltip" data-bs-placement="top" href="" title="{{ prospect.remarks }}">
                  <i class="mdi mdi-information-outline fs-4"></i>
                </a>
                {% endif %}
              </td>
              <td class="actions-col">
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-pencil-box-outline me-2"></i>
                      Edit info
                    </a>
                    <a class="dropdown-item" data-bs-toggle="modal"  data-bs-target="#UpdateRemarks">
                      <i class="mdi mdi-information-outline me-2"></i>
                      Update remarks
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-account-convert me-2"></i>
                      Re-assign CRM
                    </a>

                    <a class="dropdown-item border-top" data-bs-toggle="modal"  data-bs-target="#changeStatus">
                      <i class="mdi mdi-refresh me-2"></i>
                      Change status
                    </a>
                  </div>                
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include '_partials/_pagination.html' %}
      </div>
    </div>
  </div>
</div>

<!-- Modal for changing status -->
<div class="modal fade" id="changeStatus" tabindex="-1" aria-labelledby="changeStatusLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="changeStatusLabel">Change Status</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Status<br>
              <select name="Status"  id="statusSelect" class="form-select">
                <option value="Appointment">Appointment Requested</option>
                <option value="Meeting_Scheduled">Meeting Scheduled</option>
                <option value="Awaiting_Response">Awaiting Response</option>
                <option value="Responded">Responded</option>
              </select>

                  <div id="meetingDate">
                  Date
                  <br>
                  <input type="date"class="form-control form-control-sm">
                 </div>

                <div id="meetingTime" style="display: none;">
                  Time<br>
                  <input type="time" class="form-control form-control-sm">
                  <br>
                  </div>

                  <div id="ResponseCustomer" style="display: none;">
                    Response<br>
                    <div style="margin-bottom: 1em; margin-top: 0.5em;">
                      <input type="radio" id="contactChoice1" name="response" class="form-check-input" />
                      <label for="contactChoice1" class="form-check-label">Yes(Prospect to Customer)</label>
                  </div>
                  <div style="margin-bottom: 1em;">
                      <input type="radio" id="contactChoice2" name="response"  class="form-check-input" />
                      <label for="contactChoice2" class="form-check-label">No</label>
                  </div>
                </div>
                

                <div id="ResponseDate" style="display: none;">
                  Response on Date
                  <br>
                  <input type="date" class="form-control form-control-sm">
                </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info">Update</button>  
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="UpdateRemarks" tabindex="-1" aria-labelledby="UpdateRemarksLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="UpdateRemarksLabel">Update Remarks</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Remarks</p>
              <div class="mb-3">
                <textarea class="form-control" id="message-text" rows="6"></textarea>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
              
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  
          </div>
      </div>
  </div>
</div>

<script>
  document.getElementById("statusSelect").addEventListener("change", function() {
      var meetingTime = document.getElementById("meetingTime");
      var meetingDate = document.getElementById("meetingDate");
      var response = document.getElementById("ResponseDate"); ResponseCustomer
      var ResponseCustomer = document.getElementById("ResponseCustomer");
      var selectedValue = this.value;

      if (selectedValue === "Meeting_Scheduled") {
        meetingTime.style.display = "block";
        meetingDate.style.display = "block";
        ResponseCustomer.style.display = "none";
        response.style.display= "none";
      } else if (selectedValue === "Awaiting_Response") {
        meetingTime.style.display = "none";
        meetingDate.style.display = "none";
        response.style.display= "none";
        ResponseCustomer.style.display = "none";
        
      } else if (selectedValue === "Responded") {
        meetingTime.style.display = "none";
        meetingDate.style.display = "none";
          response.style.display = "block";
        ResponseCustomer.style.display = "block";

      } else if (selectedValue === "Appointment") {
        meetingTime.style.display = "none";
        meetingDate.style.display = "block";
          response.style.display = "none";
        ResponseCustomer.style.display = "none";

      } 
      
  });
</script>

{% endblock %}