{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %} {{ title }} {% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'prospect:overview' %}">Overview</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block scripts %}
<script src="{% static 'prospect/js/app.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row mb-3">
  <div class="col-lg-12 ">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-8 d-flex align-items-center">
            <form class="d-flex w-100" method="GET" action="{% url 'prospect:list' %}">
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="search"
                  value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-sm btn-light">
                  <i class="mdi mdi-magnify"></i>
                </button>
              </div>
              <div class="input-group ms-2">
                <select name="status" class="form-select form-select-sm" onchange="this.form.submit();">
                  <option value="">Status</option>
                  {% for key, value in prospect_filter.form.fields.status.choices %}
                    <option value="{{ key }}" {% if key == request.GET.status %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="input-group ms-2">
                <select name="sort" class="form-select form-select-sm" onchange="this.form.submit();">
                  <option value="">Sort</option>
                  {% for key, value in sort_options.items %}
                    <option value="{{ key }}" {% if key == request.GET.sort %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </form>
          </div>
          <div class="col-12 col-lg-4 text-end">
            <a href="{% url 'prospect:create' %}" class="btn btn-gradient-primary float-end">
              <i class="mdi mdi-plus me-2"></i>
              New Prospect
            </a>
          </div>
        </div>
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th class="sl-col">#</th>
              <th class="name-col">NAME</th>
              <th class="contact-col">CONTACT PERSONS</th>
              <th class="status-col">STATUS</th>
              <th>CRM</th>
              <th class="remarks-col">REMARKS</th>
              <th class="actions-col">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for prospect in prospects %}
            <tr>
              {% if prospect.status == 'trial' %}
              <td class="sl-col border-trial">{{ forloop.counter0 | add:page_obj.start_index }}</td>
              {% else %}
              <td class="sl-col">{{ forloop.counter0 | add:page_obj.start_index }}</td>
              {% endif %}
              <td>
                <div class="name-group">
                  <a class="action-link view-action" data-bs-toggle="modal" data-bs-target="#viewModal"
                    data-url="{% url 'prospect:get-prospect-info' prospect.uuid %}">{{ prospect.name }}</a>
                  <div class="description">
                    {{ prospect.address }}, {{ prospect.city }}, <br>{{ prospect.state }} {{ prospect.country }}
                  </div>
                </div>
              </td>
              <td class="contact-col">
                <div class="accordion" id="contacts">
                  {% for contact in prospect.prospect_poc.all %}
                  <div class="accordion-item contact-group">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#contact{{prospect.uuid}}_{{ forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                        <div class="contact-name">{{ contact.name }}</div>
                        {% if contact.remarks %}
                        <a class="ms-2" data-bs-toggle="tooltip" data-bs-placement="top" href="" title="{{ contact.remarks }}">
                          <i class="mdi mdi-information-outline"></i>
                        </a>
                        {% endif %}
                      </button>
                    </h2>
                    <div id="contact{{prospect.uuid}}_{{ forloop.counter}}" class="accordion-collapse collapse"
                      data-bs-parent="#contacts">
                      <div class="accordion-body contact-details-sm">
                        <div>
                          <i class="mdi mdi-email-outline"></i>
                          {{ contact.email | default_if_none:"--" }}
                        </div>
                        <div>
                          <i class="mdi mdi-cellphone-android"></i>
                          {{ contact.mobile | default_if_none:"--" }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

              </td>
              <td>
                {% if prospect.status %}
                <label class="badge status-{{ prospect.status }} prospect-status ">
                  <div>{{ prospect.get_status_display }}</div>
                  {% if prospect.status == 'trial' %}
                  <div class="status-description mt-2">
                    <i class="mdi mdi-clock-fast"></i>
                    {% if prospect.expiry_days > 0 %}
                    Expires in {{ prospect.expiry_days }} days
                    {% else %}
                    Expired on {{ prospect.expiry_date | date:'d M, Y' }}
                    {% endif %}
                  </div>
                  {% else %}
                  <div class="status-description">
                    {% if prospect.status_history.date %}
                    <div class="mt-2">
                      <i class="mdi mdi-calendar"></i>
                      {{ prospect.status_history.date | date:'D, d M, Y' }}
                    </div>
                    {% endif %}

                    {% if prospect.status_history.time %}
                    <div class="mt-2">
                      <i class="mdi mdi-calendar-clock"></i>
                      {{ prospect.status_history.time | date:'h:i A' }}
                    </div>
                    {% endif %}
                  </div>
                  {% endif %}
                </label>

                {% else %}
                --
                {% endif %}
              </td>
              <td><span class="text-faded">{{ prospect.manager.full_name }}</span></td>
              <td class="remarks-col">
                {% if prospect.remarks %}
                <a class="action-link view-action" data-bs-toggle="modal" data-bs-target="#viewModal"
                  data-url="{% url 'prospect:get-prospect-remarks' prospect.uuid %}">
                  <i class="mdi mdi-information-outline fs-4"></i>
                </a>
                {% endif %}
              </td>
              <td class="actions-col">
                <div class="dropdown">
                  <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'prospect:edit' prospect.uuid %}">
                      <i class="mdi mdi-pencil-box-outline me-2"></i>
                      Edit Prospect Info
                    </a>
                    <a class="dropdown-item" href="{% url 'prospect:update-poc' prospect.uuid %}">
                      <i class="mdi mdi-contacts me-2"></i>
                      Update Contacts Persons
                    </a>
                    <a class="dropdown-item prospect-action" data-bs-toggle="modal" data-bs-target="#updateModal"
                      data-url="{% url "prospect:update-remarks-ajax" prospect.uuid %}">
                      <i class="mdi mdi-information-outline me-2"></i>
                      Update Remarks
                    </a>
                    <a class="dropdown-item prospect-action" data-bs-toggle="modal" data-bs-target="#updateModal"
                      data-url="{% url "prospect:update-crm-ajax" prospect.uuid %}">
                      <i class="mdi mdi-account-convert me-2"></i>
                      Re-assign CRM
                    </a>
                    <a class="dropdown-item border-top status-action" data-bs-toggle="modal"
                      data-bs-target="#updateModal" data-url="{% url "prospect:update-status-ajax" prospect.uuid %}">
                      <i class="mdi mdi-refresh me-2"></i>
                      Change Status
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include '_partials/_pagination.html' %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="viewModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}
