{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %}
<span class="page-title-icon bg-gradient-primary text-white me-2">
  <i class="mdi mdi-bullseye"></i>
</span>
{{ title }}
{% endblock %}

{% block content %}
<div class="row grid-margin">
  <div class="col-md-3">
    <a href="{% url 'prospect:list' %}" class="card bg-gradient-primary text-white">
      <div class="dashboard-card">
          <div class="d-flex">
            <div class="me-3">
              <i class="mdi mdi-account-search icon-lg"></i>
            </div>
            <div>
              <div>Prospects</div>
              <div class="fs-4 fw-bold">{{ stats.prospects }}</div>
            </div>
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="{% url 'prospect:list' %}" class="card bg-gradient-info text-white">
      <div class="dashboard-card">
          <div class="d-flex">
            <div class="me-3">
              <i class="mdi mdi-account-convert icon-lg"></i>
            </div>
            <div>
              <div>Opportunities</div>
              <div class="fs-4 fw-bold">{{ stats.opportunities }}</div>
            </div>
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="{% url 'prospect:list' %}" class="card bg-gradient-success text-white">
      <div class="dashboard-card">
          <div class="d-flex">
            <div class="me-3">
              <i class="mdi mdi-check-circle icon-lg"></i>
            </div>
            <div>
              <div>Customers</div>
              <div class="fs-4 fw-bold">{{ stats.customers }}</div>
            </div>
          </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href="{% url 'prospect:list' %}" class="card bg-gradient-danger text-white">
      <div class="dashboard-card">
          <div class="d-flex">
            <div class="me-3">
              <i class="mdi mdi-delete-forever icon-lg"></i>
            </div>
            <div>
              <div>Lost Prospects</div>
              <div class="fs-4 fw-bold">{{ stats.lost_prospects }}</div>
            </div>
          </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Traffic Sources</h4>
        <canvas id="traffic-chart"></canvas>
        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
      </div>
    </div>
  </div>
  <div class="col-md-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          <h4 class="card-title float-left">Visit And Sales Statistics</h4>
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
        </div>
        <canvas id="visit-sale-chart" class="mt-4"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}