<div class="form-group mb-3">
    <label for="Name">Name</label>
    {{ pOC_info_form.contact_name }}
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label for="mobile">Mobile Number</label>
            {{ pOC_info_form.mobile }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3">
            <label for="email">Email ID</label>
            {{ pOC_info_form.mobile }}
        </div>
    </div>
</div>
<div class="form-group">
    <label for="remarks">Remarks</label>
    <textarea class="form-control" id="remarks" rows="3"></textarea>
</div>