<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="{{ prospect_info_form.name.id_for_label }}">Name</label>
      {{ prospect_info_form.name }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="{{ prospect_info_form.email.id_for_label }}">Email ID</label>
      {{ prospect_info_form.email }}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="{{ prospect_info_form.website.id_for_label }}">Website</label>
      {{ prospect_info_form.website }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="{{ prospect_info_form.denomination.id_for_label }}">Denomination</label>
      {{ prospect_info_form.denomination }}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="{{ contact_form.congregation.id_for_label }}">Congregation Size (Approx)</label>
      {{ prospect_info_form.congregation }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="{{ prospect_info_form.street.id_for_label }}">Street/Locality</label>
      {{ prospect_info_form.street }}
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="{{ prospect_info_form.country.id_for_label }}">Country</label>
      {{ prospect_info_form.country }}
    </div>
  </div>
</div>
