<div class="form-group" data-url="{% url 'prospect:get-trial-end-date' %}">
    <label for="{{ prospect_status_form.date.id_for_label }}">Trial starts on Date</label>
    {{ prospect_status_form.date }}
</div>
<p class="text-muted">
    The trial period ends after 14 days on <span id="trialEndDate" class="text-danger fw-bold">{{ trial_end_date }}</span>
</p>
<div class="form-group">
    <label for="{{ prospect_status_form.remarks.id_for_label }}">Remarks</label>
    {{ prospect_status_form.remarks }}
</div>