<section class="main">
    <section class="upcoming-events">
        <h3 class="card-title">
            Upcoming Events
        </h3>
        <p class="card-description">
            Meetings scheduled with prospects:
        </p>
        <div>
            {% for event in month_events %}
            <a data-id="meeting-{{event.prospect.uuid}}" tabindex="0"
                class="event-highlight calendar-status-meeting popover-dismiss" role="button"
                data-bs-trigger="focus"
                data-bs-toggle="popover"
                data-bs-content="{{event.prospect.name}}"
                data-bs-title="Prospect"
                data-bs-animation="true">
                <div class="event-date">
                    <div class="event-weekday">{{event.date|date:"D"}}</div>
                    <span class="event-day">{{event.date|date:"d"}}</span>
                </div>
                <div class="event-details">
                    <p class="event-details-header">{{event.prospect.name}}</p>
                    {% if event.date %}
                    <p class="event-details-info"><span class="mdi mdi-calendar-month-outline"></span>
                        {{event.date|date:'D, d M, Y'}} </p>
                    {% endif %}
                    <p class="event-details-info"><span class="mdi mdi-clock-outline"></span>
                    {% if event.time %}
                        {{event.time| date:'h:i A'}} </p>
                    {% else %}
                        --:--
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</section>