{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}


{% block top_nav %}
<div class="d-flex justify-content-end mt-3">
<div class="w-100 mr-3">
Contacts / New Contact

<h2>{{ title }}</h2>
</div>
    <div class="bordered-form d-flex align-items-center">
        <form class="form-inline">
            <input class="form-control mr-sm-2 bordered-input" type="search" placeholder="Search"
        aria-label="Search" oninput="searchFunction()">
        </form>
        <span class="material-symbols-outlined notifications-icon align-middle">notifications</span>
        <span class="material-symbols-outlined align-middle">settings</span>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32"
                    class="rounded-circle me-2">
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="header">
        <h1>New Contact</h1>
    </div>
    <form>
        <div class="form-group d-flex justify-content-between align-items-center">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>

                <label for="designation" class="mt-2">Designation:</label>
                <input type="text" id="designation" name="designation" class="form-control mt-2" required>
            </div>
            <button class="btn btn-outline-secondary capture-btn" type="button" onclick="captureImage()">
                <svg class="bi" width="24" height="24">
                    <span class="material-symbols-outlined icon-pic" style="font-size: 5rem;">
                        add_a_photo
                        
                    </span>
                    <div style="font-size: 0.8rem;">Upload Current Picture</div>
                </svg>
            </button>
        </div>
        <div class="form-group">
            <label for="organization">Organization:</label>
            <input type="text" id="organization" name="organization" class="form-control" required>
        </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mobile">Mobile Number:</label>
                  <input type="tel" id="mobile" name="mobile" class="form-control" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="altMobile">Alternate Mobile Number:</label>
                  <input type="tel" id="altMobile" name="altMobile" class="form-control" required>
                </div>
              </div>
            </div>
          
        <div class="form-group">
            <label for="email">Email ID:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <textarea id="address" name="address" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <a href="{% url 'contact:create' %}" class="btn btn-primary save-btn">Save Contact</a>
            <button type="button" class="btn btn-secondary cancel-btn">Cancel</button>
        </div>
    </form>
</div>
<script>
    function captureImage() {
        // Your logic to handle capturing image and navigating to system files
        // Example: Use input type file and trigger click event
        var input = document.createElement('input');
        input.type = 'file';
        input.accept = 'image/*';
        input.click();
    }
</script>
<script>
    function searchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("prospectTable");
        tr = table.getElementsByTagName("tr");
    
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}
