{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}


{% block top_nav %}
{% include '_includes/top_nav.html' %}
{% endblock %}

{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="form-container">
    <form class="" id="ProspectForm" action="{% url 'prospect:create' %}" method="POST">
        {% csrf_token %}
        
        <h1>Prospect Information</h1>
        {{ prospect_info_form.as_p }}

        <h1>Point Of Contact</h1>
        {{ pOC_info_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Save Prospect">
    </form>
</div>
{% endblock %}


