{% extends "_includes/base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}


{% block top_nav %}
Prospect Overview / Prospect List
<h2>{{ title }}</h2>
{% endblock %}


{% block side_nav %}
{% include '_includes/sidebar.html' %}
{% endblock %}

{% block content %}
<a href="{% url 'prospect:create' %}" class="btn btn-primary">
    <i class="fa-solid fa-plus me-2"></i>
        New Prospect
</a>
<h5> List of prospects</h5>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Status</th>
            <th>CRM</th>
            <th>State</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        {% for prospect in prospects %}
            <tr>
                <td>{{ prospect.prospect_name }}</td>
                <td>{{ prospect.street_loc }}</td>
                <td>{{ prospect.city }}</td>
                <td>{{ prospect.country }}</td>
                <td>{{ prospect.state }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
