{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block navbar %}
{% include '_partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
{% include '_partials/_sidebar.html' %}
{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'contact:list' %}">Contact Directory</a></li>
  <li class="breadcrumb-item active" aria-current="page">New Contact</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container">
  {% include 'contact/contact_form.html' %}
</div>
{% endblock %}