{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'customer/css/style.css' %}">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'customer:users' customer_id %}">Customer List</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="form-container" style="width:95%;">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="py-4 px-0" method="POST">
          {% csrf_token %}
          <h4 class="card-title">Edit Collaborator</h4>
          <p class="card-description">Enter details and set permissions for the user</p>
          {% include 'customer/_partials/_collaborator_form.html' %}
          <div class="mt-2">
            <button type="submit" class="btn btn-gradient-primary" name="action" value="done">Update</button>
            <a type="button" href="{{go_back_url}}" class="btn btn-outline-primary" name="action"
              value="done">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}